
.navbar a:hover , li:hover{
    color: red;
    background-color: transparent;
}


a {
    text-decoration: none;
}


/* margin right for the ul in the navbar */

.navbar-nav {
    margin-right: 10px !important;
}

/* margin for the navbar anchor tags */

.navbar a{
    margin: 15px 20px;
}

/* class for a */

.nav-link{
    color: black;
}
 

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;    
}

.nav-link:focus{
    color: black;
}
.navbar {
    background-color: white;
}
.bootstrap {
    margin-left: 50px;
}


/* below 2  handles toggle button */

.navbar-toggler-icon{
    background-image: url("menu.png");
    background-color: transparent;
    border: none;
    transform: scale(1.5);

}
.navbar-toggler{
    border: none;
    border-color: transparent;
}

/* nav section ends */
.container1 {
    background-color: #e4f7f2;
    position: relative;
    padding-top: 100px;
    padding: 5%;
    text-align: left;
}
.container1 img{
    
    width: 96%;
}
.container1 div1{
    padding-left: 3%;
}
 
.container1 h1{
    font-size: 3rem;
     line-height: 4rem;
    font-weight: bolder;
}   
 
.col-lg-6{
    padding: 2% ;
}
.amigo-fnt{
    color: #409187;
    
     
}

.div1-btn{
    background: #2bc4ad;
    background-image: -webkit-linear-gradient(top, #ed7640, #ed7640);
    background-image: -moz-linear-gradient(top, #ed7640, #ed7640);
    background-image: -ms-linear-gradient(top, #ed7640, #ed7640);
    background-image: -o-linear-gradient(top, #ed7640, #ed7640);
    background-image: linear-gradient(to bottom, #ed7640, #ed7640);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 8px;
    box-shadow: 2px 2px;
    font-family: 'Montserrat', sans-serif;
    color: #100e0e;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    
}
 

.div1-btn a{
    font-size: 1rem;
    color: white;
    font-weight: 600;
    
}
.div1-btn:hover{
    background: #f34928;
    background-image: -webkit-linear-gradient(top, #f34928, #f34928);
    background-image: -moz-linear-gradient(top, #f34928, #f34928);
    background-image: -ms-linear-gradient(top, #f34928, #f34928);
    background-image: -o-linear-gradient(top, #f34928, #f34928);
    background-image: linear-gradient(to bottom, #f34928, #f34928);
    text-decoration: none;
    color: #080505;
}
/* first section ends here */

/* handles responsiveness */

@media(min-width: 1350px){
    .container1 h1{
        font-size: 4rem;
        line-height: 130%;
    }
    .container1 img{
        margin-top: -7%;
        margin-left: 7%;
    }
    .container1 p{
        font-size: 2rem;
    }
    .div1-btn a{
        font-size: 2rem;
    }
    .div1-btn{
        margin-top: 4%;
    }
    navbar img{
        width: 50%;
    }
    .bootstrap{
        width: 5%;
        height: 2%;
        margin-left: 100px;
    }
    .navbar a{
        font-size: 1.5rem;
    }
    
}

/* second section starts */

 
.card img{
    width: 100%;
}

#blogs{
    padding-top: 10%;
}

.blogs-heading{
    font-size: 3rem;
    font-weight: 600;
}
/* second sections ends */

  /* why use amigo starts  */

  .main-container h2{
    color: black;
    font-weight: bolder;
  }
  .main-container i{
    color: rgb(14, 242, 204);
  }
  #why-use-amigo{
    background-color: #e8f6f2;
    padding-top: 6%;
    padding-bottom: 1%;
  }
  
  /* images styles */

  .p6{
    width: 35%;
  }
  .college{
    width: 30%;
  }
  .approved{
    width: 30%;
  }
 
  .sect-div{
    padding-top: 5%;
    padding-bottom: 4%;
  }
 

  /* why use amigo ends  */

   /* About Amigo starts  */
 

    .about-amigo{
        padding-top: 5%;
    }
    #aboutamigo{
        background-color: #fbf3eb;
    }

    .services-section .card-box{
        padding: 4rem  2.4rem 3rem!important;
        border-radius: .5rem!important;
    }
    .services-section{
        padding: 6rem 0 3rem 0!important;
    }
    .common-heading {
        font-size: 4rem;
        color: #2bc4ad;
        font-weight: bolder;
        margin-top: -3%;
        margin-bottom: 4%;
    }
    
    

   /* About Amigo ends  */

h1 {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: black; 
}
 

 
 
 

 
 
  
 
 
 
 
 
 
 
 

 
 
 

 
 
 
 
 


 
 

 

 
 
  
  